COPYING
INSTALL
Makefile
.deps
*.in
*.a
*.o
*.swp
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
src/kazusad
tests/kazusa_test
stamp-h1
.dirstamp
*.conf
