COPYING
INSTALL
Makefile
.deps
*.in
*.a
*.o
*.sw*
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
src/newtd
tests/newt_test
stamp-h1
.dirstamp
*.conf
core
GPATH
GRTAGS
GSYMS
GTAGS
